html{
    background-color: antiquewhite;
    .container{
        background-color: antiquewhite;
        form{
            margin-top: 200px;
            border: 1px solid rebeccapurple;
            text-align: center;
            margin-left: 550px;
            margin-right: 550px;
            background-color: aquamarine;
        
        }
    }
}